@import 'node_modules/reset-css/reset.scss';

body {
  display:          flex;
  align-items:      center;
  justify-content:  center;
  background-color: #f3f7fa;

  & > div {
    display: flex;
  }
}

.app-container {
  display:          flex;
  flex-direction:   column;
  align-content:    center;
  justify-content:  center;
  margin-top:       10px;
  background-color: #e0eaea;
  border-radius:    5px;

  & > header {
    align-content:   center;
    justify-content: center;
    align-items:     center;
    display:         flex;
  }

  & > footer {
    display:         flex;
    flex-direction:  initial;
    justify-content: center;
    align-items:     flex-start;
    flex-wrap:       wrap;
  }
}
