.users-search {
  display: flex;

  input {
    width:         100%;
    box-sizing:    border-box;
    margin:        5px;
    height:        40px;
    padding:       5px;
    font-size:     14px;
    border-radius: 3px;
    box-shadow:    none;
    text-shadow:   none;
    border:        1px solid #ccc;
  }
}
