.report-info {
  width:           33%;
  display:         inline-flex;
  align-items:     center;
  justify-content: flex-start;
  color:           #757575;

  & > * {
    display: inline-flex;
  }
}
